<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title></title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.bundle.min.js"></script>
</head>
<style>
  .collapsed .fa-angle-up::before{content: "\f107"}
</style>
<body>
  <script>
    $(function(){
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>  
  <div class="view-container" style="padding: 2% 10% 0 10%;">
    <div>
      <h2>Failed Files</h2>
      <a href="javascript:history.back(-1)">Back</a>
    </div>
    <div style="width: 100%; padding: 25px 1% 0 1%;">
      <div class="accordion" id="accordionExample">
        {% for failed_file in check_file_list %}
          <div class="card">
            <div class="card-header collapsed" id="headingOne" type="button" data-toggle="collapse" data-target="#collapsec{{loop.index}}" aria-expanded="false" aria-controls="collapsec{{loop.index}}">
              <span class="text-left" style="float:left;">
                {{failed_file.file_name}}
              </span>
              <i class="fa fa-angle-up"style="float:right; font-size: 24px;"></i>
            </div>
            <div id="collapsec{{loop.index}}" class="collapse" aria-labelledby="headingc{{loop.index}}">
              <table class="table table-borderless table-sm" style="margin-bottom: 0">
                <tbody>
                  <tr>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">relro</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">canary</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">nx</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">pie</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">rpath</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">fortify</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">symbols</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">clangcfi</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">safestack</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">fortified</th>
                    <th scope="row" style="font-weight: normal; width: 9%; text-align: center;">fortify-able</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    {% if failed_file.relro == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.relro}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.relro}}</th>
                    {% endif %}
                    {% if failed_file.canary == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.canary}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.canary}}</th>
                    {% endif %}
                    {% if failed_file.nx == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.nx}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.nx}}</th>
                    {% endif %}
                    {% if failed_file.pie == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.pie}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.pie}}</th>
                    {% endif %}
                    {% if failed_file.rpath == "passed" %}
                    <th style="color: green; width: 9%; text-align: center;">{{failed_file.rpath}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.rpath}}</th>
                    {% endif %}
                    {% if failed_file.fortify == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.fortify}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.fortify}}</th>
                    {% endif %}
                    {% if failed_file.symbols == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.symbols}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.symbols}}</th>
                    {% endif %}
                    {% if failed_file.clangcfi == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.clangcfi}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.clangcfi}}</th>
                    {% endif %}
                    {% if failed_file.safestack == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.safestack}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.safestack}}</th>
                    {% endif %}
                    {% if failed_file.fortified == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.fortified}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.fortified}}</th>
                    {% endif %}
                    {% if failed_file.fortifiable == "passed" %}
                      <th style="color: green; width: 9%; text-align: center;">{{failed_file.fortifiable}}</th>
                    {% else %}
                      <th style="color: red; width: 9%; text-align: center;">{{failed_file.fortifiable}}</th>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>